<mat-sidenav-container class="settings-container">
  <mat-sidenav mode="side" opened class="settings-sidenav">
    <mat-nav-list>
      <a mat-list-item routerLink="profile" routerLinkActive="active-link">Perfil de Usuario</a>
      <a mat-list-item routerLink="location" routerLinkActive="active-link"
        *appHasRoleAndPermission="'Administrador'; perms: 'VER'">Ubicaciones</a>
      <a mat-list-item routerLink="finances" routerLinkActive="active-link"
        *appHasRoleAndPermission="'Administrador'; perms: 'VER'">Finazas</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="settings-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>